body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    text-align: center;
}

h1{
    color: white;
}

#animatedBox {
    width: 100px;
    height: 100px;
    background-color: red;
    margin:auto;
         
}



#saveBtn{

    font-weight: bold;
    color: blue;
    background-color: rgb(240, 232, 232);
    width: 150px;
    height: 75px;
    font-size: large;
    border-radius: 10%;

}

 



  